@font-face {
  font-family: "Roboto";
  src: url("./res/Roboto-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("./res/Roboto-Light.ttf");
  font-weight: 400;
}

$mainFont: "Roboto"