@use "./colors";

@mixin borderRadius($br) {
  border-radius: $br;
  -moz-border-radius: $br;
  -webkit-border-radius: $br;
  -khtml-border-radius: $br;
  -o-border-radius: $br;
  -ms-border-radius: $br;
  -icab-border-radius: $br;
}

@mixin hoverBackground() {
  &:hover {
    background-color: colors.$thirdColor;
    cursor: pointer;
  }
}

@mixin backgroundImage($imageName) {
  background: url("./res/" + $imageName) center no-repeat;
  background-size: contain;
}

@mixin input() {
  width: min(70vw, 40rem);
  padding: .5rem;
  margin-bottom: 1rem;

  background-color: colors.$mineColor;

  color: colors.$secondColor;
  font-size: 1em;

  border: 1px solid colors.$secondColor;
  @include borderRadius(.5em);

  text-align: center;

  &:hover {
    cursor: pointer;
  }
}